src/main/java/pl/bb/broker/brokerreservations/service/.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ReservationServiceImplService" targetNamespace="http://services.ws.companyreserv.company.broker.bb.pl/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.companyreserv.company.broker.bb.pl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://services.ws.companyreserv.company.broker.bb.pl/" xmlns:tns="http://services.ws.companyreserv.company.broker.bb.pl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExceptionFault" type="tns:pl.bb.broker.company.companyreserv.ws.exceptions.WSException"/>
  <xs:element name="makeReservation" type="tns:makeReservation"/>
  <xs:element name="makeReservationResponse" type="tns:makeReservationResponse"/>
  <xs:element name="reservationRequest" type="tns:reservationRequest"/>
  <xs:element name="reservationResponse" type="tns:reservationResponse"/>
  <xs:complexType name="makeReservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:reservationRequest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reservationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="arrival" type="xs:long"/>
      <xs:element minOccurs="0" name="departure" type="xs:long"/>
      <xs:element minOccurs="0" name="facility" type="xs:string"/>
      <xs:element minOccurs="0" name="firstname" type="xs:string"/>
      <xs:element minOccurs="0" name="roomType" type="xs:string"/>
      <xs:element minOccurs="0" name="surname" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="makeReservationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:reservationResponse"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reservationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:reservationRequest"/>
    </xs:sequence>
    <xs:attribute name="responseType" type="tns:responseType"/>
  </xs:complexType>
  <xs:complexType name="pl.bb.broker.company.companyreserv.ws.exceptions.WSException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="responseType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACCEPTED"/>
      <xs:enumeration value="REJECTED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WSException" nillable="true" type="tns:pl.bb.broker.company.companyreserv.ws.exceptions.WSException"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="WSException">
    <wsdl:part element="tns:WSException" name="WSException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="makeReservationResponse">
    <wsdl:part element="tns:makeReservationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="makeReservation">
    <wsdl:part element="tns:makeReservation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ReservationService">
    <wsdl:operation name="makeReservation">
      <wsdl:input message="tns:makeReservation" name="makeReservation">
    </wsdl:input>
      <wsdl:output message="tns:makeReservationResponse" name="makeReservationResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WSException" name="WSException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReservationServiceImplServiceSoapBinding" type="tns:ReservationService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="makeReservation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="makeReservation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="makeReservationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReservationServiceImplService">
    <wsdl:port binding="tns:ReservationServiceImplServiceSoapBinding" name="ReservationServiceImplPort">
      <soap:address location="http://localhost:80/company-main/ws/reservations/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>